
/* head  */
.head-common-table {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;
}
 
.head-common-table-header-column {
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  font-size: 20px;
  padding: 5px 0px;
  font-weight: bold;
}
 
.head-common-table-row:hover {
  background-color: #eceaea;
  cursor: pointer;
}
 
.head-common-table-column {
  padding: 0px 0px;
}

/* body */
.common-table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0;
  }
   
  .common-table-header-column {
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
  }
   
  .common-table-row:hover {
    background-color: #eceaea;
    cursor: pointer;
  }
   
  .common-table-column {
    padding: 10px 5px;
  }